<section class='md:px-10 px-5 2xl:px-40 lg:py-6 bg-secondary'>
  <div class='flex justify-center flex-col w-2/3'>
    <h2 class='text-lg md:text-2xl lg:text-4xl font-bold' id='aboutme'>
      Sobre Mi
    </h2>
    <p class='text-sm lg:text-xl font-medium my-4'>
      ¡Hola! Soy un apasionado desarrollador frontend junior especializado en
      React, con un enfoque en la búsqueda de soluciones creativas y eficientes
      en diferentes contextos, desde situaciones cotidianas hasta el ámbito de
      la logística y la gestión empresarial. Mi compromiso y seriedad son
      fundamentales en cada proyecto que emprendo, y valoro enormemente el
      trabajo en equipo y los entornos amigables.
    </p>
    <p class='text-sm lg:text-xl font-medium mb-4'>
      En mi búsqueda constante de crecimiento, dedico tiempo al desarrollo de
      proyectos personales con React, lo que me permite aplicar y fortalecer mis
      conocimientos en esta tecnología. Además, busco ampliar mis habilidades
      participando en programas educativos como Oracle Next Education y
      CoderHouse, donde adquiero nuevas perspectivas y conocimientos para
      continuar mejorando profesionalmente.
    </p>

    <p class='italic text-xl md:text-5xl font-medium mb-4 font-Dancing'>
      Bogar
    </p>
  </div>
</section>
