---
const { href } = Astro.props
---

<a
  class='flex mr-8 hover:text-tertiary font-medium hover:scale-110 transition-all duration-300 text-sm md:text-xl'
  href={href}>
  <slot />{' '}
  <img class='ml-2' src='/arrow.svg' alt='Flecha negra' />
</a>
